body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../media/background.jpg);
}

#container {
    margin: 10vmax auto;
    background-color: white;
    /* margin-top: 11rem; */
    /* margin-left: 29rem; */
    border-radius: 10px;
    /* margin-right: 10rem; */
    height: 24rem;
    width: 25rem;
}

#circle {
    display: flex;
    margin-left: 10rem;
    padding-top: 1rem;
}

.circle1 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50rem;
    background-color: #aaaaaa;
    margin-left: 0.5rem;
}

.circle2 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50rem;
    background-color: #dedede;
    margin-left: 0.5rem;
}

.circle3 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50rem;
    background-color: #dedede;
    margin-left: 0.5rem;
}

h1 {
    padding-top: 1.6rem;
    margin-left: 7rem;
    padding-bottom: 2rem;
    /* margin: 1.5rem 6rem; */
}

h2 {
    margin-left: 2em;
}

#visa {
    display: flex;
    width: 25em;
    /* justify-content: space-between; */
    align-items: center;
    border-top: 1px solid #999999;
    cursor: pointer;
}

#visa:hover {
    background-color: whitesmoke;
}

.mark {
    margin-left: 8rem;
    width: 2rem;
    height: 3rem;
}

.mark1 {
    /* margin-left: 10rem; */
    width: 2rem;
    height: 3rem;
}

img {
    height: 5rem;
    width: 4rem;
    padding-left: 1rem;
}

.p1 {
    color: #999999;
}

#visa1 {
    background-color: #598bdd;
    display: flex;
    width: 25em;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    border-top: 1px solid #999999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    color: wheat;
    cursor: pointer;
}