body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../media/background.jpg);
}

#container {
    background-color: white;
    margin-top: 11rem;
    margin-left: 29rem;
    border-radius: 10px;
    /* margin-right: 10rem; */
    height: 24rem;
    width: 25rem;
}

#circle {
    display: flex;
    margin-left: 10rem;
    padding-top: 1rem;
}

.circle1 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50rem;
    background-color: red;
    margin-left: 0.5rem;
}

.circle2 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50rem;
    background-color: black;
    margin-left: 0.5rem;
}

.circle3 {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50rem;
    background-color: black;
    margin-left: 0.5rem;
}

h1 {
    padding-top: 1.6rem;
    margin-left: 7rem;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    width: 7rem;
    height: 4rem;
    padding-right: 18rem;
    margin-top: 1rem;
    cursor: pointer;
    border-top: 1px solid;
}

.img:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    /* padding-right: 15rem; */
    transform: rotate(360deg);
    /* transition: 2s; */
}

*/ #foot {
    display: flex;
}

.arrow {
    height: 1rem;
    width: 1rem;
    margin-left: 20rem;
    /* background-color: red; */
}

button {
    padding-right: 22.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.3rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: royalblue;
    cursor: pointer;
    color: white;
}